.page-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 1.5rem;
}

h2 {
    font-size: 4rem;
}

.presets-menu {
    flex: 1;
}

.muscle-group-menu {
    flex: 6;
}

